logs/
weights/
wandb/
imgs/


carla_data/

results.csv

LVD/data/maze/maze
LVD/data/maze/maze_prep
LVD/data/maze/maze.pkl

LVD/data/metaworld_complex/


LVD/logs/
LVD/imgs/
LVD/weights/
LVD/rl/results/
LVD/rl/wandb/

calvin_eda.ipynb
maze_eda.ipynb
test.ipynb
test.py
evaluate_deprecated.py

train.sh




*.pyc
__pycache__/

results.csv

*.ipynb
